p {
    color: rgb(4, 38, 106);
  font-family: courier;
  font-size: 160%;
}
body {
    max-width: 300px;
    margin: auto;
    border-color: black;
    border-width: 20px;
    /* background-image: url('images/weather\ pic.jpeg');
    background-position: fixed;
    background-attachment: fixed; */
    background-color: aqua;
}
#one {
    background-color: white;
}
