
body{
    display: block;
    background-image: url(images/pikachu-wallpaper.jpg);
    background-size:cover;
}

#wallpaper{
    object-fit: cover;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.logo {
    width: 35%;
}

.prompt{
    width: 33%;
}
.pokemonResults {
    z-index: 3;
}
@media only screen and (min-width: 401px) and (max-width: 960px) {
    body{
        display: block;
        background-image: url(images/bulbasaur.jpeg);
        position: absolute;
        background-size:cover;
    }
    
    #wallpaper{
        object-fit: cover;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .logo {
        width: 40%;
    }

    .prompt{
        width: 45%;
    }
    .pokemonResults {
        z-index: 3;
    }
}

@media only screen and (max-width: 400px) {
    body{
        display: block;
        background-image: url(images/charizard.jpg);
        background-size:cover;
    }
    
    .logo {
        width: 100%;
    }
    
    .prompt{
        width: 100%;
    }
    .pokemonResults {
        z-index: 3;
    }
}